# TEMPLATE FILE

PASSWORD_SERVER	= 'whatever'
PASSWORD_INNER	= 'whatever'
PASSWORD_CA	= 'whatever'
PASSWORD_CLIENT	= 'whatever'
PASSWORD_OCSP	= 'whatever'
USER_NAME	= 'eduroam@organizacion.es'
CA_DEFAULT_DAYS  = '825'
